@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: "Urbanist", sans-serif;
}

.app-grave {
  background-color: blue;
}

.nav__links {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem;
  list-style: none;
}

.nav__link__container {
  font-size: 2rem;
}

.nav__link {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 88vh;
}

.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__link {
  padding: 0rem 2rem;
}

.main__link__description {
  font-size: 2rem;
}

.app__name {
  color: #4cbb17;
}

.app__name-grave {
  color: #660000;
}

.left,
.right {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

.footer__container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer__spacer {
  width: 2rem;
}
